* {
  margin: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

/* ---------------- NAVBAR ---------------- */

.navbar {
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-logo {
  height: 50px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  background-image: url("amazon_logo.png");
  background-size: cover;
  height: 50px;
  width: 100%;
}

.nav-address {
  margin-left: 15px;
}

.add-icon {
  display: flex;
  align-items: center;
}

.add-icon p {
  margin-left: 5px;
}

.border {
  border: 1.5px solid transparent;
}

.border:hover {
  border: 1.5px solid white;
}

.add-first {
  color: #cccccc;
  font-size: 0.85rem;
  margin-left: 20px;
}

.add-second {
  color: #ffffff;
  font-size: 14px;
}

/* ---------------- SEARCH BAR ---------------- */

.nav-search {
  display: flex;
  justify-content: space-evenly;
  background-color: pink;
  width: 620px;
  height: 40px;
  border-radius: 4px;
}

.search-select {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #ffffff;
  width: 50px;
  padding: 5px;
  text-align: center;
  font-size: 14px;
  border: none;
}

.search-input {
  width: 100%;
  font-size: 1rem;
  border: none;
  outline: none;
}

.search-icon {
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: #febd68;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: black;
}

.nav-search:hover {
  border: 2px solid orange;
}

/* ---------------- LANGUAGE ---------------- */

.nav-language {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f1111;
  color: white;
  padding: 5px 10px;
  border: 1.5px solid transparent;
  cursor: pointer;
  border-radius: 3px;
}

.nav-language:hover {
  border: 1.5px solid white;
}

.nav-language img {
  width: 20px;
  height: 15px;
  margin-right: 5px;
}

.nav-language p {
  font-size: 0.9rem;
  font-weight: bold;
  margin-right: 4px;
}

.nav-language i {
  font-size: 0.8rem;
}

/* ---------------- CART ---------------- */

span {
  font-size: 0.7rem;
}

.nav-second {
  font-size: 0.85rem;
  font-weight: 700;
}

.nav-cart i {
  font-size: 30px;
}

.nav-cart {
  font-size: 0.85rem;
  font-weight: 700;
}

/* ---------------- PANEL ---------------- */

.panel {
  height: 40px;
  background-color: #222f3d;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-evenly;
}

.panel-ops p {
  display: inline;
  margin-left: 15px;
}

.panel-ops {
  width: 70%;
  font-size: 0.85rem;
}

.panel-deals {
  font-size: 0.9rem;
  font-weight: 700;
}

/* ---------------- HERO SECTION ---------------- */

.hero-section {
  background-image: url("hero.jpg");
  height: 350px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hero-msg {
  background-color: white;
  color: black;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
  width: 80%;
  margin-bottom: 30px;
}

.hero-msg a {
  color: #2162a1;
}

/* ---------------- SHOP SECTION ---------------- */

.shop-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #e2e7e6;
}

.box {
  height: 400px;
  width: 23%;
  background-color: white;
  padding: 20px 0 15px;
  margin-top: 15px;
}

.box-image {
  height: 300px;
  background-size: cover;
  margin: 1rem 0;
}

.box-content {
  margin: 0 1rem;
}

.box-content p {
  color: #2162a1;
}

/* ---------------- FOOTER ---------------- */

footer {
  margin-top: 25px;
}

.footer-panel1 {
  background-color: #374753;
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
}

.foot-panel2 {
  background-color: #222f3d;
  color: white;
  height: 300px;   /* ❗ FIXED (= → :) */
  display: flex;
  justify-content: space-evenly;
  padding: 30px 0;
}

ul {
  margin: 10px;
  padding: 0;
}

ul a {
  display: block;
  color: #dddddd;
  text-decoration: none;
  font-size: 0.85rem;
  margin-top: 10px;
}

.foot-panel3 {
  background-color: #222f3d;
  color: white;
  border-top: 0.5px solid white;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.foot-panel4 {
  background-color: #0f1111;
  color: #dddddd;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pages {
  display: flex;
  padding-top: 25px;
}

.copyright {
  background-color: #0f1111;
  color: #dddddd;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
